For next your task, you will be working on performing Segmentation on EV Market based on the datasets shared. 

Each member here has to perform their own Segmentation by selecting datasets. Each member select 1 dataset.

After selecting the dataset, kindly mention in this group, which dataset you have selected to work

After performing the segmentation, kindly prepare a report based on the following questions (omit the questions from the report):

1. Explain how and which ML model (algorithm) helped you in 2nd Project?
2. Elaborate on the final conclusion & insights gained from the research/analysis work.
3. How will you improve upon the Market Segmentation Project given additional time & some budget to purchase data? (in terms of Datasets collection - name what columns points you will search for & what additional ML models you would like to try)
4. What is the estimated  Market Size for your Market Domain (non-segmented) in Numbers?
5. Name top 4 Variables/features which can be used to create most optimal Market Segments for your Market Domain

Sample Segmentation Report on EV Market

https://github.com/Rohit-Rannavre/Feynn-Labs-Internship-2022 

Submit the Report by 17th  Oct (performed individually) in Discord #report-submission-r2

If you have any query, don't hesitate to ask

Sample Segmentation Report on EV Market

https://github.com/Rohit-Rannavre/Feynn-Labs-Internship-2022 

Each member here has to perform their own Segmentation by selecting datasets. Each member select 1 dataset.

After selecting the dataset, kindly mention in this group, which dataset you have selected to work on

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

### European EV Market Dataset

In [2]:
df_euro_ev = pd.read_csv('./Electric Vechile Dataset Smaller/ElectricCarData_Clean.csv')

### European EV Sales

In [3]:
df_ev_sales = pd.read_excel('./Open Data Government of India/Ev Sales.xlsx')

### EV India Electric Market Dataset

In [4]:
df_india_ev = pd.read_csv('./Kaggle/EVIndia.csv')

#### Adoption of Electric Vechiles by State in India (Open Data)

In [5]:
df_open_data_india = pd.read_excel('./Open Data Government of India/EV_Sales_Data_set.xlsx')

##### Analysing the Datasets

In [6]:
#shape of different dataset
print("European Ev Market Dataset {}".format(df_euro_ev.shape))
print("EV European Sales Dataset {}".format(df_ev_sales.shape))
print("EV India Market Dataset {}".format(df_india_ev.shape))
print("Open Govenment Dataset EV {}".format(df_open_data_india.shape))

European Ev Market Dataset (103, 14)
EV European Sales Dataset (74, 6)
EV India Market Dataset (12, 10)
Open Govenment Dataset EV (35, 4)

### Preprocessing Datasets
##### 1. European Ev Market Dataset

In [7]:
df_euro_ev.head(2).T

                                             0            1
Brand                                   Tesla   Volkswagen
Model            Model 3 Long Range Dual Motor    ID.3 Pure
AccelSec                                   4.6         10.0
TopSpeed_KmH                               233          160
Range_Km                                   450          270
Efficiency_WhKm                            161          167
FastCharge_KmH                             940          250
RapidCharge                                Yes          Yes
PowerTrain                                 AWD          RWD
PlugType                            Type 2 CCS   Type 2 CCS
BodyStyle                                Sedan    Hatchback
Segment                                      D            C
Seats                                        5            5
PriceEuro                                55480        30000

In [8]:
df_euro_ev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            103 non-null    object
 1   Model            103 non-null    object
 2   AccelSec         103 non-null    float64
 3   TopSpeed_KmH     103 non-null    int64
 4   Range_Km         103 non-null    int64
 5   Efficiency_WhKm  103 non-null    int64
 6   FastCharge_KmH   103 non-null    object
 7   RapidCharge      103 non-null    object
 8   PowerTrain       103 non-null    object
 9   PlugType         103 non-null    object
 10  BodyStyle        103 non-null    object
 11  Segment          103 non-null    object
 12  Seats            103 non-null    int64
 13  PriceEuro        103 non-null    int64
dtypes: float64(1), int64(5), object(8)
memory usage: 11.4+ KB

In [9]:
# We can see this data is as object but it consists of multiple numerical values to lets change it into Integer
# step 1 replate '-' values with '0'
# Step 2 convert the data into INT values
df_euro_ev['FastCharge_KmH'].unique()

array(['940', '250', '620', '560', '190', '220', '420', '650', '540',
       '440', '230', '380', '210', '590', '780', '170', '260', '930',
       '850', '910', '490', '470', '270', '450', '350', '710', '240',
       '390', '570', '610', '340', '730', '920', '-', '550', '900', '520',
       '430', '890', '410', '770', '460', '360', '810', '480', '290',
       '330', '740', '510', '320', '500'], dtype=object)

In [10]:
df_euro_ev['FastCharge_KmH'] = df_euro_ev['FastCharge_KmH'].replace('-','0')

In [11]:
df_euro_ev['RapidCharge'].unique()

array(['Yes', 'No'], dtype=object)

In [12]:
df_euro_ev['RapidCharge'] = df_euro_ev['RapidCharge'].replace({'Yes':'1','No':'0'})

In [13]:
df_euro_ev['PowerTrain'].unique()

array(['AWD', 'RWD', 'FWD'], dtype=object)

In [14]:
df_euro_ev['PlugType'].unique()

array(['Type 2 CCS', 'Type 2 CHAdeMO', 'Type 2', 'Type 1 CHAdeMO'],
      dtype=object)

In [15]:
df_euro_ev['BodyStyle'].unique()

array(['Sedan', 'Hatchback', 'Liftback', 'SUV', 'Pickup', 'MPV', 'Cabrio',
       'SPV', 'Station'], dtype=object)

In [16]:
df_euro_ev['Segment'].unique()

array(['D', 'C', 'B', 'F', 'A', 'E', 'N', 'S'], dtype=object)

In [17]:
df_euro_ev['Seats'].unique()

array([5, 4, 7, 6, 2], dtype=int64)

In [18]:
df_euro_ev = df_euro_ev.astype({'FastCharge_KmH':'int64', 'RapidCharge':'int64'})

### Pre-processing dataset
##### 2. EV Sales Europe

In [19]:
df_ev_sales.head(2)

        YEAR  2 W   3 W  4 W  BUS  TOTAL
0 2017-04-01   96  4748  198    0   5042
1 2017-05-01   91  6720  215    2   7028

In [20]:
df_ev_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YEAR    74 non-null     datetime64[ns]
 1   2 W     74 non-null     int64
 2   3 W     74 non-null     int64
 3   4 W     74 non-null     int64
 4   BUS     74 non-null     int64
 5   TOTAL   74 non-null     int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 3.6 KB

### EV India Market Dataset
##### Pre-processing

In [21]:
df_india_ev.head(2)

,Car,Style,Range,Transmission,VehicleType,PriceRange,Capacity,BootSpace,BaseModel,TopModel
0,Tata Nexon EV,Compact SUV,312 Km/Full Charge,Automatic,Electric,₹ 13.99 - 17.4 L,5 Seater,350 L,XM,Dark XZ Plus LUX
1,Tata Tigor EV,Subcompact Sedan,306 Km/Full Charge,Automatic,Electric,₹ 12.49 - 13.64 L,5 Seater,316 L,XE,XZ Plus Dual Tone

In [22]:
df_india_ev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car           12 non-null     object
 1   Style         12 non-null     object
 2   Range         12 non-null     object
 3   Transmission  12 non-null     object
 4   VehicleType   12 non-null     object
 5   PriceRange    12 non-null     object
 6   Capacity      12 non-null     object
 7   BootSpace     12 non-null     object
 8   BaseModel     12 non-null     object
 9   TopModel      12 non-null     object
dtypes: object(10)
memory usage: 1.1+ KB

In [23]:
df_india_ev['Range'] = df_india_ev['Range'].replace('na','0')

In [24]:
df_india_ev['Range'] = df_india_ev['Range'].str.split(' ')

In [25]:
for i in range(len(df_india_ev['Range'])):
    df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])

C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\3201612402.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])
C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\3201612402.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])
C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\3201612402.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])
C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\3201612402.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])
C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\3201612402.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])
C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\3201612402.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])
C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\3201612402.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])
C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\3201612402.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])
C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\3201612402.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])
C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\3201612402.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])
C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\3201612402.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])
C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\3201612402.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_india_ev['Range'][i] = int(df_india_ev['Range'][i][0])

In [26]:
df_india_ev['Range']

0     312
1     306
2     437
3     419
4     452
5     470
6     388
7     415
8     471
9     425
10      0
11    400
Name: Range, dtype: object

In [27]:
df_india_ev.head(2)

,Car,Style,Range,Transmission,VehicleType,PriceRange,Capacity,BootSpace,BaseModel,TopModel
0,Tata Nexon EV,Compact SUV,312,Automatic,Electric,₹ 13.99 - 17.4 L,5 Seater,350 L,XM,Dark XZ Plus LUX
1,Tata Tigor EV,Subcompact Sedan,306,Automatic,Electric,₹ 12.49 - 13.64 L,5 Seater,316 L,XE,XZ Plus Dual Tone

In [28]:
df_india_ev['BootSpace'] = df_india_ev['BootSpace'].replace('na','0')

In [29]:
df_india_ev['BootSpace'] = df_india_ev['BootSpace'].str.split(' ')

In [30]:
df_india_ev['BootSpace']

0     [350, L]
1     [316, L]
2     [350, L]
3     [448, L]
4          [0]
5     [656, L]
6     [405, L]
7     [580, L]
8          [0]
9          [0]
10         [0]
11    [660, L]
Name: BootSpace, dtype: object

In [31]:
for i in range(len(df_india_ev['BootSpace'])):
    df_india_ev['BootSpace'][i] = int(df_india_ev['BootSpace'][i][0])

In [32]:
df_india_ev['BootSpace']

0     350
1     316
2     350
3     448
4       0
5     656
6     405
7     580
8       0
9       0
10      0
11    660
Name: BootSpace, dtype: object

In [34]:
df_india_ev['Capacity'].unique()

array(['5 Seater ', '4 Seater '], dtype=object)

In [38]:
df_india_ev['Capacity'].replace({'5 Seater':5,'4 Seater':4},inplace=True)

C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\1699599501.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_india_ev['Capacity'].replace({'5 Seater':5,'4 Seater':4},inplace=True)

In [39]:
df_india_ev['Capacity'].unique()

array(['5 Seater ', '4 Seater '], dtype=object)

In [44]:
df_india_ev['Capacity'] = df_india_ev['Capacity'].replace({'5 Seater ':5,'4 Seater ':4})

C:\Users\pankr\AppData\Local\Temp\ipykernel_21588\2394512246.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_india_ev['Capacity'] = df_india_ev['Capacity'].replace({'5 Seater ':5,'4 Seater ':4})

In [45]:
df_india_ev['Capacity'].unique()

array([5, 4], dtype=int64)

In [46]:
df_india_ev.head(2)

,Car,Style,Range,Transmission,VehicleType,PriceRange,Capacity,BootSpace,BaseModel,TopModel
0,Tata Nexon EV,Compact SUV,312,Automatic,Electric,₹ 13.99 - 17.4 L,5,350,XM,Dark XZ Plus LUX
1,Tata Tigor EV,Subcompact Sedan,306,Automatic,Electric,₹ 12.49 - 13.64 L,5,316,XE,XZ Plus Dual Tone

##### Open Government Released Dataset

In [66]:
df_open_data_india.head()

  Sl.No.                     State/UT  Electric  Non-electric
0      1  Andaman and Nicobar Islands       190        161258
1      2               Andhra Pradesh     67905      16553509
2      3            Arunachal Pradesh        28        303673
3      4                        Assam    120423       5312457
4      5                        Bihar    161060      11631081

In [78]:
df_open_data_india = df_open_data_india.iloc[0:-1]

In [80]:
df_open_data_india.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sl.No.        34 non-null     object
 1   State/UT      34 non-null     object
 2   Electric      34 non-null     int64
 3   Non-electric  34 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [81]:
df_open_data_india.describe()

            Electric  Non-electric
count      34.000000  3.400000e+01
mean    83251.911765  1.016285e+07
std    119600.375679  1.161133e+07
min        20.000000  4.443000e+04
25%      1504.750000  5.931312e+05
50%     43125.000000  6.184873e+06
75%    114900.250000  1.622194e+07
max    574967.000000  4.385255e+07

#### Section Summary
Till now we have completed the *data-cleaning* and *data-preprocessing* tasks. Now, we will deep dive into the data visualization part in the next section.